<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.dto.generator.RunTimeMapper">

  <insert id="insert" parameterType="RunTime">
      insert into run_time (method, p_plant_code, station_code,
          line_code, data_name, data_time,
          run_time_j, run_time_f, run_time_p,
          run_time_g, run_time_z)
      values
      <foreach collection="list" item="item" separator=",">
          (#{item.method,jdbcType=VARCHAR}, #{item.pPlantCode,jdbcType=VARCHAR}, #{item.stationCode,jdbcType=VARCHAR},
          #{item.lineCode,jdbcType=VARCHAR}, #{item.dataName,jdbcType=VARCHAR}, #{item.dataTime,jdbcType=VARCHAR},
          #{item.runTimeJ,jdbcType=VARCHAR}, #{item.runTimeF,jdbcType=VARCHAR}, #{item.runTimeP,jdbcType=VARCHAR},
          #{item.runTimeG,jdbcType=VARCHAR}, #{item.runTimeZ,jdbcType=VARCHAR})
      </foreach>

  </insert>

</mapper>